#product-variants {
  
}
.variant-option-type {
  margin-bottom: 0;
}
#product-variants ul.variant-option-values {
  list-style-type: none;  
  margin-bottom: 1em;
}
.variant-option-values li {
  display: block;
  position: relative;
  float: left;
}
.variant-option-values li a {
  display: block;
  border: 1px solid #ddd;  
  padding: 2px 9px;
  margin: 3px 3px 0 0;
  text-decoration: none;
  cursor: pointer;
}
.variant-option-values li.clear {
  border: 0;
  float: none;
  clear: both;
}

.option-value.selected,
.option-value.enabled:hover {
  background-color: #1072B9;
  color: #fff;
}
.option-value.out-of-stock,
.option-value.out-of-stock:hover {
  display: block;  
  background-color: #eee;
  color: #aaa;
  cursor: default;
}
